In [1]:
import pandas as pd

In [2]:
pd.read_csv('../../../Downloads/NameUsage.tsv', sep='\t', nrows=1000)

,col:ID,col:alternativeID,col:nameAlternativeID,col:sourceID,col:parentID,col:basionymID,col:status,col:scientificName,col:authorship,col:rank,...,col:subphylum,col:phylum,col:kingdom,col:ordinal,col:branchLength,col:link,col:nameRemarks,col:remarks,col:modified,col:modifiedBy
0,673FW,NaN,NaN,2232.0,3CP83,3CP83,synonym,Anisophyllum hyssopifolium,(L.) Haw.,species,...,NaN,NaN,NaN,NaN,NaN,https://powo.science.kew.org/taxon/urn:lsid:ip...,NaN,NaN,NaN,NaN
1,9L2J9,NaN,NaN,2232.0,3F5B8,3F5B8,synonym,Asperula aparine var. aparine,NaN,variety,...,NaN,NaN,NaN,NaN,NaN,https://powo.science.kew.org/taxon/urn:lsid:ip...,NaN,NaN,NaN,NaN
2,95TZM,NaN,NaN,55434.0,92STR,NaN,ambiguous synonym,Amphipoea castanea,"Heydemann, 1931",species,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,T95H,NaN,NaN,1068.0,3LF8,NaN,accepted,Chablisea imbiba,"Gauld & Dubois, 2006",species,...,NaN,Arthropoda,Animalia,NaN,NaN,http://www.ichneumonoidea.name/local.php?taxon...,NaN,NaN,NaN,NaN
4,88PX6,NaN,NaN,1101.0,8BZCK,NaN,synonym,Empis majalis,"Collin, 1927",species,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,5R7ZF,NaN,NaN,170394.0,78WYX,NaN,accepted,Riccia glauca var. ciliaris,Warnst.,variety,...,NaN,Marchantiophyta,Plantae,NaN,NaN,https://www.tropicos.org/name/35204910,NaN,NaN,NaN,NaN
996,8GPVC,NaN,NaN,1008.0,CDFS4,NaN,accepted,Hemiphyllodactylus hongkongensis,"Sung, Lee, Ng, Zhang & Yang, 2018",species,...,Vertebrata,Chordata,Animalia,NaN,NaN,https://reptile-database.reptarium.cz/species?...,NaN,NaN,NaN,NaN
997,C2XQS,NaN,NaN,2302.0,BY4PW,CJJVY,accepted,Tetrameres (Tetrameres) zakharowi,"Petrow, 1926",species,...,NaN,Nematoda,Animalia,NaN,NaN,https://nemys.ugent.be/aphia.php?p=taxdetails&...,NaN,NaN,NaN,NaN
998,BRJRX,NaN,NaN,1032.0,6XJWM,NaN,synonym,Saperda (Saperda) octopunctata combinatoides,"Podan√Ω, 1964",subspecies,...,NaN,NaN,NaN,NaN,NaN,http://titan.gbif.fr/sel_genann1.php?numero=10486,NaN,NaN,NaN,NaN
999,4M4FZ,NaN,NaN,1108.0,7PTXN,84G6S,accepted,Potamon setigerum,"Rathbun, 1904",species,...,NaN,Arthropoda,Animalia,NaN,NaN,https://www.marinespecies.org/aphia.php?p=taxd...,NaN,NaN,NaN,NaN